.homeSection {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.roomList {
  margin-top: 2rem;
  width: 40%;
  

  
}

.roomList:not(:last-child) {
  margin-bottom: 2rem;
}

.room {
  display: flex;
}